
<!DOCTYPE html>

<html lang="en">
<head>

<body class="hold-transition login-page">

<div class="content-wrapper">

  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
   
     <h1>Welcome to Dashboard</h1>
      {{myemail}}

    </div>
    <!-- /.login-card-body -->
  </div>
</div>
 
</body>
</html>