
<!DOCTYPE html>

<html lang="en">
<head>

<body class="hold-transition login-page">

<div class="content-wrapper">

  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
    <marquee direction="left" scrollamount="12" > <h1>Welcome to Webcodegenie Private Limited</h1></marquee>
     {{!-- <img src="/Miniproject/myapp/dist/img/dashboard.png" alt=""> --}}
      {{myemail}}
    </div>
    <!-- /.login-card-body -->
  </div>
  <div>
      <img src="/dist/img/dashboard.png" height="400" width="1050">
    </div>
</div>
 
</body>
</html>